{% extends "layouts/app.html" %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
<script type="text/javascript">
  var socketServer = '{{ socketioEndpoints.websocketServer }}'
  var homeEndpoint = '{{ socketioEndpoints.homeEndpoint }}'
  var username = '{{ message }}'
</script>
<script text=text/javascript src="{{ url_for('static', filename='js/socketio.js') }}"></script>
<script text=text/javascript src="{{ url_for('static', filename='js/camera.js') }}"></script>
<script text=text/javascript src="{{ url_for('static', filename='js/index.js') }}"></script>
{% endblock %}

{% block facelogin %}

<div class="alert alert-secondary py-5" id="panel">
  <div class="text-center align-items-center">
    <p class="text-center"> 
        Welcome, if you already signed in and activated face recognition
        You can log in with your face!
    </p>
    <p class="text-center progressbar">Server connection unknown ...</p>
  </div>
</div>


<section class="py-4">
  <div class="container" data-aos="fade-right">

    <div class="row text-center ">
      <div class="col-md-9">

        <canvas style="display:none;"  id="preview" width="1200px" height="1200px">
        </canvas>

        <div class="embed-responsive embed-responsive-4by3">
          <video id="video" width="1200px" height="1200px" autoplay>
            <p style="color: black;">Camera</p>
          </video>
        </div>

      </div>

      <div class="col-md-6 card" style="width: 14rem;">
        <div class="card-body">
            <h5 class="card-title">Select Camera</h5>
        
            <div class="py-2">
            <select name="" class="custom-select">
                <option value="">Select camera</option>
            </select>
            </div>
        
            <div>
                <h3>Server status</h3>
                <p class="progressbar">
                  Server connection unknown ...
                </p>
            </div>
        
            <button id="loginButton" type="button" class="btn btn-primary btn-lg btn-block">Login</button>
        
        </div>
        </div>


   </div>
     <!-- END ROW -->

     <div id="log"></div>

  </div>
  <!-- END CONTAINER -->
</section>
<!-- END SECTION -->
{% endblock %}