#master document
/doc/master.aux
/doc/master.fdb_latexmk
/doc/master.fls
/doc/master.log
/doc/master.out
/doc/master.synctex.gz
/doc/master.toc
/doc/master.lof
/doc/master.lot
#form
/doc/formblatt_summary.aux
/doc/formblatt_para12apo.aux
#chapters
/doc/kapitel1.aux
/doc/kapitel2.aux
/doc/kapitel3.aux
/doc/kapitel4.aux
/doc/kapitel5.aux
/doc/kapitel6.aux
