*{
  font-family: 'Inter', sans-serif;
  overflow-x:hidden;
}

.banner{
  background: #28292b;
  color: #fff;
}

.navoverlay{
  background: #28292b;
}

#panel{
  background: #e2e3e5;
  color: rgb(56, 50, 50);
}