<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">  
  </head>
  <body>
    <canvas style="display:none;" id="preview"></canvas>
    {% block content %}
    {% endblock %}
    <div class="center">
      <img src="{{ url_for('opencv.video_feed') }}" />
    </div>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.2/socket.io.js"></script>
  <script text=text/javascript src="{{ url_for('static', filename='js/camera-option.js') }}"></script>
</html>