{% extends "layouts/app.html" %}

{% block home %}
<!-- 
  Parts from the Bootstrap documentation!
  https://getbootstrap.com/docs/4.0/components/forms/ 
-->

{% if message  %}
    <div class="alert alert-secondary" role="alert">
        <p>{{ message }}</p>
    </div>
{% endif %}


<section class="py-5">
  <div class="container h-100" data-aos="fade-right">
    <div class="row text-center align-items-center justify-content-center col-sm-12 my-auto">

      <div class="col-md-6 card" style="width: 14rem;">
        <div class="card-body mx-auto">
          <h5 class="card-title">Welcome</h5>
          {% if authObj  %}
          <form action='{{ authObj.login }}' method="POST">
            {% endif %}

            <div class="form-group">
              <label for="Fullname">Full name</label>
              <input name="fullname" class="form-control" id="inputFullName" aria-describedby="emailHelp" placeholder="Enter full name">
              <small id="fullName" class="form-text text-muted">Please enter your full name(First name and Last name)</small>
        </div>

        <div class="form-group">
          <label for="InputPassword">Password</label>
          <input type="password" name="password1" class="form-control" id="InputPassword" placeholder="Password">
        </div>

            <div class="form-group my-2">
            <button type="submit" id="startButton" type="button" class="btn btn-primary btn-lg btn-block">Login</button>
          </div>
          </form>

          <form action="/register">
            <div class="form-group my-2">
              <button type="submit" value="Register" type="button" class="btn btn-primary btn-lg btn-block">Register</button>
            </div>
        </form>

        <form action="/facelogin">
          <div class="form-group my-2">
            <button type="submit" value="Register" type="button" class="btn btn-primary btn-lg btn-block">Face Login</button>
          </div>
      </form>

        </div>
      </div>

   </div>
     <!-- END ROW -->

     <div id="log"></div>

  </div>
  <!-- END CONTAINER -->
</section>
<!-- END SECTION -->

{% endblock %}