{% extends "layouts/app.html" %}

{% block home %}

<section class="py-3">
  <div class="container" data-aos="fade-right">
    <div class="row text-center ">

      <div class="col-md-6 card" style="width: 14rem;">
        <div class="card-body">
          <h5 class="card-title">Select Camera</h5>


          <a id="startButton" class="my-button"> 
            <span></span><span></span><span></span><span></span>Start
          </a>

        </div>
      </div>

      <div class="col-md-6 card" style="width: 14rem;">
        <div class="card-body">
          <h5 class="card-title">Select Camera</h5>


          <a id="startButton" class="my-button"> 
            <span></span><span></span><span></span><span></span>Start
          </a>

        </div>
      </div>


   </div>
     <!-- END ROW -->

     <div id="log"></div>

  </div>
  <!-- END CONTAINER -->
</section>
<!-- END SECTION -->






{% endblock %}