
<div class="col-md-6 card" style="width: 14rem;">
<div class="card-body">
    <h5 class="card-title">Select Camera</h5>

    <div class="py-2">
    <select name="" class="custom-select">
        <option value="">Select camera</option>
    </select>
    </div>

    <div>
        <h3>Server status</h3>
        <p id="ServerStatus">
            Try connecting
        </p>
    </div>

    <button id="picButton" type="button" class="btn btn-primary btn-lg btn-block">SEND</button>
    <!--<button id="loginButton" type="button" class="btn btn-primary btn-lg btn-block">PREDICT</button>-->

</div>
</div>
